.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box ;
    height: 70%;
  }

  html{
    background-color: black;
    color: white;
  }
  body{
    overflow-x:hidden;
  }

  .header{
    background: black;
    width: 100%;
    height: 12%;
    margin:0px;
    padding-right: 2%;
    width: auto;
    padding-top: 3%;
    padding-bottom: 5px;
}
.phone{
  color:white;
  padding-left: 5%;
  font-size: 190%;
}
.insta{
  color:white;
  padding-left: 5%;
  font-size: 150%;
  text-align: center;
}
.insta2{
  color:white;
  padding-left: 3%;
  font-size: 150%;
  text-align: center;
  padding-right: 18%;
}
button{
  font-size: 160%;
  background: black;
  border: white;
  align-self:stretch /*padding-right: 3%;*/
  
}
a{
  text-decoration-color: white;
  text-decoration: none;
}
