/*@import url('https://fonts.googleapis.com/css?family=Quicksand');*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.wrapper {
    background-color: black;
    height: 70%;
    font-family: 'Russo One', sans-serif;
    line-height: 1.5;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-size: 470%;
    text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
-webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
-moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
color:rgb(255, 255, 255);
  }

.fixed-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    width: 100%;
    color: white;
    text-align: center;
    display: table;
    padding-top: 10%;
}
.bg-1 {
    background-image: url('kinchen2.jpg');
}
.header{
    background: black;
    width: 100%;
    height: 12%;
    margin:0px;
    padding-right: 2%;
    width: auto;
    padding-top: 3%;
}
body{
    margin: 0;
    overflow-x:hidden;
    text-size-adjust:100%;
}
.phone{
    color:white;
    padding-left: 5%;
    font-size: 190%;
   
}
button{
    font-size: 160%;
    background: black;
    border: white;
    float:right;
    padding-right: 3%;
    
}
a{
    text-decoration-color: white;
    text-decoration: none;
}

html{
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.aboutus{

  color: white;
}
.about{
   height: 35%;
    background: black;
    text-align: center;
    font-size: 310%;
    padding-top: 10%;
    
}
.photos{
    display: flex;
}

.photo1{
  border:2%,white;
}
.photo2{
    border:2%,white;

}
.photo3
{
    border:2%,white;

}
.photo4{
    border:2%,white;
}

.services{
   height:30%;
    background: black;
    text-align: center;
    color:white;
    padding-top: 5%;
}
.flex-services{
    display: flex;
    flex-direction: column;
}
.servtxt1{
    font-size: 310%;
    margin: 0;
}
.service1{
    display: flex;
    flex-wrap: wrap;
}
.service1 > *{
    flex: 1 1 920px;
}
.service2{
    display: flex;
    flex-wrap: wrap;
   
}
.service2 > *{
    flex-direction: row-reverse;
    align-items: center;
    flex: 1 1 920px
}
.service3{
    display: flex;
    flex-wrap: wrap;
}
.service3 > *{
    flex: 1 1 920px;
}
.service4{
    display: flex;
    flex-wrap: wrap;
   
}
.service4 > *{
    flex: 1 1 920px;
    flex-direction: column-reverse;
    align-items: stretch;
} 
.service5{
    display: flex;
    flex-wrap: wrap;

}
.service5 > *{
    flex: 1 1 920px
}
.service6{
    display: flex;
    flex-wrap: wrap;
}
.service6 > *{
    flex: 1 1 920px
}
.service1photo{
    width: 53%;
    height:auto;

}
.service2photo{
    width:50%;
    height:auto;
    
}
.service3photo{
    width:50%;
}
.service4photo{
    width:50%;
    height:auto;
}
.service5photo{
    width:50%;
    height:auto;
}
.service6photo{
    width:50%;
    height:auto;
}
.servtxt2{
    font-size:250%;
    margin: 0;
}
.service1{
    display: flex;
    background:black;
    color: white;
    height:auto;
    max-height: 30%; 
}
.service1text{
    padding-left: 3%;
    width: 47%;
    margin: auto;
   
}
.service1texthead{
    font-size: 220%;
    margin: 0;
    text-align: center;
}
.service1textnhead{
    font-size: 190%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.service1texttext{
    font-size: 155%;
    margin: 0;
}
.service2{
    display: flex;
    background:black;
    color:white;
   /* height: 70%; */
   height:auto;
  
 
}
.service2text{
    padding-left: 3%;
    width:47%;
    margin: auto;
   
}
.service2texthead{
    font-size: 220%;
    margin: 0;
    text-align: center;
}
.service2textnhead{
    font-size: 190%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.service2texttext{
    font-size: 155%;
    margin: 0;
}
.service3{
    display: flex;
    background:black;
    color: white;
    height:100%;
    margin: auto;
}
.home{
    padding-left: 7%;
    font-size: 190%;
}
.service3text{
    padding-left: 3%;
    width:47%;
    margin: auto;
    
}
.service3texthead{
    font-size: 220%;
    margin: 0;
    text-align: center;
}
.service3textnhead{
    font-size: 190%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.service3texttext{
  font-size: 155%;
    margin: 0;
}
.service4{
    display: flex;
    background:black;
    color: white;
    height:100%
}
.service4text{
    padding-left: 3%;
    width:47%;
    margin: auto;
}
.service4texthead{
    font-size: 220%;
    margin: 0;
    text-align: center;
}
.service4textnhead{
    font-size: 190%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.service4texttext{
    font-size: 155%;
}
.service5{
    display: flex;
    height:auto;
    background:black;
    color: white;

}
.service5text{
    padding-left: 3%;
    width:47%;
    margin: auto;
}
.service5texthead{
    font-size: 220%;
    margin: 0;
    text-align: center;
}
.service5textnhead{
    font-size: 190%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.service5texttext{
    font-size: 160%;
}
.service6{
    display: flex;
    height:auto;
    background:black;
    color: white;

}
.service6text{
    padding-left: 3%;
    width:47%;
    margin: auto;
}
.service6texthead{
    font-size: 220%;
    margin: 0;
    text-align: center;
}
.service6textnhead{
    font-size: 190%;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
.service6texttext{
    font-size: 160%;
}
.feedback{
    /* height: 90%;*/
    background: black;
    color:white;
  /*  text-align: center; */
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.feedbacks{
    display: flex;
    text-align: center;

}
.feedbacktext1{
    font-size: 250%;
    text-align: center;
    margin: 0;
}
.feedbacktext2{
    padding-top: 4%;
    font-size: 130%;
    text-align: center;
    padding-bottom: 3%;
    margin:0;
}
.feedback1{
    width:10%;
    padding-left: 20%;
}
.feedback1name{
    font-size: 190%;
    margin: 0;
    text-align: center;
}
.feedback1text{
    margin: 0;
    padding-left: 2%;
    text-align:center
}
.feedback2{
   padding-left: 15%;
    width:10%;
}
.feedback2name{
    font-size: 190%;
    margin: 0;
    text-align: center;
}
.feedback2text{
    margin: 0;
    padding-left: 2%;
    text-align:center
}
.feedback3{
    padding-left: 15%;
    width:10%;
}
.feedback3name{
    font-size: 190%;
    margin: 0;
    text-align: center;
}
.feedback3text{
    margin: 0;
    padding-left: 2%;
    text-align:center
}
.contacts{
    padding-top: 5%;
    padding-bottom: 5%;
    background: black;
    color:white;
    text-align: center;
   /* padding-bottom: 5%; */
}
.contactstext{
    margin: 0;
   
    font-size: 310%;
    /*padding-bottom: 2%; */
}
.mail{
    font-size: 160%;
    margin: 0;
}